/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

body {
    width: 100vw;
    height: 100vh;
    display: inline;
}
nav {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: black;
    
}

nav h1 {
    padding-top: 15px;
    padding-left: 20px;
    color: rgb(42, 171, 226);
}

nav ul {
    
        list-style-type: none;
        margin: ;
        padding: 25px 0px 0px 50vw;
}
nav li{
    display: inline;
    color: white;
    padding: 20px;
    
    
}
main {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    
}

.article {
    margin-top: 120px;
    width: 45vw;


}

.rightSide{
    margin-top: 145px;
}

.profile {
    height: 320px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.profile img {
    
    padding: 30px 0px 0px 46px;
}

.profile p {
    font-size: 1.5em;
    padding-left: 95px;
}

.articleList {
    border-radius: 6px;
    height: 420px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.list {
    font-size: larger;
    padding-left: 30px;
}

.list h3 {
    padding-left: 38px;
    padding-top: 20px;
}
.list li {
    padding: 5px;
}

.gallery{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.gallery img {
    padding-top: 30px;
    width: 200px;

    
}

footer {
    position: static;
    width: 100vw;
    height: 100px;
    background-color: rgb(42, 171, 226);
}

footer p{
    padding-left: 30px;
    padding-top: 40px;
}